.texto {
    width:800px;
    height:500px;
    background-color:lightcoral;
    color:black;
    margin:auto;
    text-align:center;
    margin-top:20px;
    margin-left:;
    margin-right:;
    margin-bottom:;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}