body {
    margin:0%;
}
.media {
    width:600px;
    height:300px;
    background-color:blueviolet;
    color:white;
}

@media only screen and (min-width:300px) and (max-width:600px) {
    .media {
        width:400px;
        height:600px;
        background-color:aqua;
    }
}