.login {
    width:180px;
    height:100px;
    color:white;
    background-color:black;
    border:1px solid lightgray;
    border-radius:20px;
    position:absolute;
    margin:auto;
    padding-left:10px;
    padding-top:20px;
}
input {
    width:150px;
    height:20px;
    border-radius:10px;
}