body {
    margin:0px;
}
#button {
    width:100%;
    height:800px;
    background-color:#CCC;
}
#red {
    width:100%;
    height:1200px;
    background-color:red;
}
#green {
    width:100%;
    height:1200px;
    background-color:Green;
}
#blue {
    width:100%;
    height:1200px;
    background-color:blue;
}